#banner-home{
    padding-top: 100px;
}

.banner-home-container{
    background: url("/assets/img/banner-home-havanna.png") no-repeat center center;
    background-size: cover;
    min-height: 85vh;
}

.banner-home-info{
    padding-top: 100px;
    padding-left: 250px;
}

.banner-home-title{
    font-family: "Unbounded", sans-serif;
    font-size: 101px;
    color: #1C1C1C;
    max-width: 8ch;
}

.banner-home-description{
    font-family: "Titillium Web", serif;
    font-style: italic;
    font-size: 24px;
    font-weight: 600;
    color: #1C1C1C;
    margin-top: 20px;
    max-width: 40ch;
}

.banner-home-list li::before{
    content: "";
    display: inline-block;
    margin-right: 20px;
    width: 8px;
    height: 8px;
    background-color: #1C1C1C;
}

.banner-home-btn{
    font-family: "Unbounded", sans-serif;
    background: #1C1C1C;
    width: 250px;
    height: 70px;
    border-radius: 20px;
    font-size: 22px;
    color: #FFF;
    margin-top: 50px;
}

.banner-arrows-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    gap: 55px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.banner-home-arrow{
    width: 50px;
    cursor: pointer;
}

.banner-home-companies-container{
    background: #E9E9E9;
}

.banner-home-companies{
    max-width: 1400px;
    height: 302px;
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
}

.banner-home-companies img{
    width: 210px;
}

@media(max-width: 1330px) {
    .banner-home-info{
        padding-top: 100px;
        padding-left: 50px;
    }
}

@media(max-width: 900px) {
    .banner-home-title{
        font-size: 50px;
        margin-bottom: 60px;
        max-width: initial;
    }

    .banner-home-info{
        padding-top: 120px;
        padding-right: 50px;
        text-align: center;
    }

    .banner-home-description{
        font-size: 30px;
        margin-top: 20px;
        max-width: 100%;
    }

    .banner-home-container{
        background: url("/assets/img/banner-home-havanna.png") no-repeat center center;
        background-size: cover;
        background-position: 0% center; /* Move o background mais para a direita */
        min-height: 85vh;
    }
}

@media(max-width: 700px) {
    .banner-home-title{
        margin-bottom: 30px;
        max-width: initial;
    }

    .banner-home-description{
        font-size: 20px;
    }

    .banner-home-info{
        padding-top: 80px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .banner-arrows-container{
        gap: 125px;
    }
}

@media(max-width: 350px) {
    .banner-home-title{
        font-size: 35px;
    }
}