body {
    font-family: "Inter", "Unbounded", sans-serif;
    margin: 0;
  }

body.hide-content #header,
body.hide-content #banner-home,
body.hide-content #creatine,
body.hide-content #products,
body.hide-content .evaluation,
body.hide-content #sale,
body.hide-content #footer {
    display: none;
}
  
  ul,
  li,
  h1,
  h2,
  h3,
  p {
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  a {
    display: block;       
    text-decoration: none;
    color: currentColor;
  }

  button{
    border: none;
    cursor: pointer;
  }