#header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    padding: 0 25px;
    position: fixed;
    background: #FFF;
}

#user-name{
    border-radius: 20px;
    padding: 20px 25px;
    background: blue;
    color: #FFF;
    white-space: nowrap;
}

.logo-nutrata-home{
    width: 124px;
}

.header-nav,
.header-nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    gap: 10px;
    padding: 0 20px;
}

.header-nav{
    width: 100%;
    max-width: 1430px;
    justify-content: space-between;
}

.header-nav-list{
    font-size: 16px;
    gap: 69px;
}


@media(max-width: 1095px){
    .header-nav-list{
        font-size: 16px;
        gap: 30px;
    }
}

@media(max-width: 973px){
    .header-nav-list li:not(:last-child) {
        display: none;
    }
}

@media(max-width: 520px){
    .header-nav-list li:last-child{
        font-size: 10px;
    }

    #header{
        padding: 0 10px;
    }
    
    #user-name{
        border-radius: 20px;
        padding: 10px 12px;
        background: blue;
    }
}