#sale{
    background: #E9E9E9;
    padding: 90px 82px;
    margin-top: 120px;
}

.sale-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1766px;
    background: #1c1c1c;
    border-radius: 30px;
}

.sale-info-container{
    padding: 80px;
}

.sale-title{
    font-family: "Unbounded", sans-serif;
    font-size: 40px;
    color: #FFF;
    font-weight: 900;
}

.sale-subtitle{
    font-family: "Unbounded", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #FFF;
    margin-bottom: 20px;
}

.sale-timer-text{
    font-size: 30px;
    color: #FFF;
    margin-top: 35px;
    margin-bottom: 30px;
}

.sale-timer{
    position: relative;
    font-family: "Unbounded", sans-serif;
    display: flex;
    gap: 10px;
    color: blue;
    font-size: 24px;
    font-weight: 800;
}

.sale-timer-bg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 50px;
    height: 50px;
    background: #D9D9D9;
    border-radius: 12px;
}

.sale-timer-dots{
    display: flex;
    align-items: center;
    color: #D9D9D9;
}

.sale-timer-btn{
    font-family: "Unbounded", sans-serif;
    background: blue;
    width: 100%;
    max-width: 300px;
    height: 60px;
    font-size: 24px;
    color: #FFF;
    border-radius: 30px;
    margin-top: 50px;
}

.sale-timer-info{
    font-family: "Unbounded", sans-serif;
    font-size: 14px;
    color: #D9D9D9;
    font-weight: 300;
}

.sale-timer-info-container{
    display: flex;
    margin-top: 5px;
}

.sale-timer-info.minutes{
    margin-right: 65px;
    margin-left: 20px;
}

.sale-img{
    width: 100%;
}